
.contact {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.contact-email-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);

  &:hover svg,
  &:focus svg
{
  fill: var(--accent-color);
 }

&:hover,
&:focus
{
  cursor: pointer;
  color: var(--accent-color);
 
}
}
.icon-contact:hover
{
  cursor: pointer;
  color: var(--accent-color);
 
}