/* ==========Наші переваги================= */
// 0px - 767px
@media screen and (max-width: 767px) {


 .section-our-advantages__list {
  display: flex;
  flex-direction: column;
  
} 
}

@media screen  and (min-width: 768px) {

.section-our-advantages__list {
  flex-wrap: wrap;
}

.content-our-advantages {
  flex-basis: calc((100% - 30px) / 2);
}
}


@media screen and (min-width: 1200px) {

  .content-our-advantages {
  flex-basis: calc((100% - 90px) / 4);
}

}


// .section-our-advantages {

// }

// .content-our-advantages {
//   flex-basis: calc((100% - 90px) / 4);
// }

.section-our-advantages__list {
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.bgc-our-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.icon-our-advantages {
  width: 70px;
  height: 70px;
}

