.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func),
  visibility var(--transition-dur-and-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {

  position: relative;
  padding-left: 25px;
 
}
// За допомогою флексів хочу роздвинути два div mobile-menu__flex-container 
.lmobile-menu__flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-menu__flex-container{
   display: block;
}
//  END  За допомогою флексів хочу роздвинути два div mobile-menu__flex-container 
.mobile-menu__close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  transition: fill var(--transition-dur-and-func);
  // width: 19px;
  // height: 19px;

  &:hover,
  &:focus
  {
  fill: var(--accent-color);
  }

}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin-top: 48px;
  position: relative;
  font-size: 40px;

  margin-bottom: 302px ;

}

.mobile-menu-list__link {
  display: block;
  color: var(--title-text-color);
   
   &:hover,
   &:focus {
    color: var(--accent-color);
  }

}

.mobile-menu-list__item--here {
  color: var(--accent-color);
}
.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.mobile-menu-contact__link-phone {
  font-size: 34px;
  color: var(--primary-text-color);
  
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

}

.mobile-menu-contact__link-email {
  font-size: 24px;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

}

.mobile-menu-social{
  display: flex;
  margin-top: 64px;
  padding-bottom: 48px;
  

}
.mobile-menu-social__item{
  padding-left: 10px;
  padding-right: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__item-last{
  padding-left: 10px;
}
.mobile-menu-social__link{
   font-size: 18px;
   color: var(--accent-color);
   
}

@media screen  and (min-width: 768px) {
  .open-mobile-menu-btn{
  display: none;
}
}