/* ==========COMPONENTS================== */

/* Задаємо основні параметри контейнеру */

.page {
  background: var(--white); 
}

@media screen and (max-width: 767px) {

.section-standard {
  padding-top: 60px;
  padding-bottom: 60px;
}

}

@media screen  and (min-width: 768px) {
.section-standard {
  padding-top: 60px;
  padding-bottom: 60px;
}

}


@media screen and (min-width: 1200px) {

}





// .section-standard {
// // @extend %section;
//   // padding-top: 94px;
//   // padding-bottom: 94px;
// }
